/*!***********************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[14].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[14].oneOf[7].use[3]!./app/members/page.module.css ***!
  \***********************************************************************************************************************************************************************************************************************************************************************/
.page_text__Aw82i {
  text-align: center;
  margin-bottom: 40px;
}

.page_list__PfhVt {
  display: flex;
  align-items: flex-start;
  gap: 40px;
  margin-bottom: 60px;
}

.page_list__PfhVt:nth-child(even) {
  flex-direction: row-reverse;
}

.page_image___3MEO {
  width: 240;
  height: auto;
  border-radius: var(--border-radius);
}

.page_name__MFnFy {
  font-size: 1.2rem;
  font-weight: bold;
}

.page_position__Ri2g_ {
  margin-bottom: 8px;
}

.page_profile__wjx8j {
  font-size: 0.9rem;
}

.page_footer___6jhc {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 1px  solid var(--color-border);
  padding-top: 40px;
  text-align: center;
  gap: 24px;
}

.page_message__4O34T {
  font-size: 2rem;
  font-weight: bold;
}

.page_empty__TSQXw {
  margin-bottom: 40px;
}
